{% load static  %}
 {% load django_htmx %}
<!DOCTYPE html>
<html lang="en" x-data="{ sidebarOpen: false, createEventModal: false, editEventModal: false, createTicketModal: false, activeEvent: null }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <!--  -->
   

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
     <script src="{% static 'js/admin.js' %}" defer></script>
    
       
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
  <!-- HTMX v1: -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script> 
  <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    

    
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png"/>
    <title>Eventura - Discover Events</title>
    
 
    {% htmx_script %}
</head>
<body class="bg-gray-50 text-gray-800 antialiased  x-cloak ">
    <!-- Global Loader -->
<!-- Global Loader (place immediately after <body>) -->
<div id="page-loader" class="fixed inset-0 bg-black/70 flex items-center justify-center z-[9999] hidden">
  <div class="flex-col gap-4 w-full flex items-center justify-center">
    <div class="w-20 h-20 border-4 border-transparent text-pink-500 text-4xl animate-spin flex items-center justify-center border-t-pink-500 rounded-full">
      <div class="w-16 h-16 border-4 border-transparent text-purple-400 text-2xl animate-spin flex items-center justify-center border-t-purple-400 rounded-full"></div>
    </div>
  </div>
</div>


    {% include "events/partials/alerts.html" %}
    
    {% block content %}
    {% endblock %}




    <script src="{% static 'js/main.js' %}"></script>
   
</body>
</html>